canvas {
    width: 100%;
    height: 100%;
    background: black;
  }
  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.hidden{
  display: none;
}
.start{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header h1{
  margin: 30px 0px 20px 0px;
  text-align: center;
  font-size: 40px;
}
header p{
  font-size: 20px;
  text-align: center;
}
.pads{
  background: lightblue;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 0px auto 0px;
}
.pads > div{
  height: 100px;
  width: 100px;
}
.pad1{
  background: #60d394;
}
.pad2{
  background: #d36060;
}
.pad3{
  background: #c060d3;
}
.pad4{
  background: #d3d160;
}
.pad5{
  background: #1654a5;
}
.pad6{
  background: #9be91e;
}

@keyframes jumps{
  0%{
    bottom: 0%;
    left: 2%;
  }
  50%{
    bottom: 50%;
    left: 47%;
  }
  100%{
    bottom: 0%;
    left: 86%;
  }
}
.visual > div{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
  z-index: -1;
}
a{
  font-size: 12px;
  font-family: cursive;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  margin: 0px 0px auto 0px;
  padding-bottom: 20%;
}
a:link {
  color: rgb(199, 93, 32);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(134, 134, 130);
  background-color: transparent;
  text-decoration: line-through;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}